@font-face {
    font-family: roboto;
    src: url(../font/RobotoMono-Regular.ttf);
}

*{
    margin:0;
    padding:0;
    font-family: roboto;
    color:#17314b;
    list-style-type: none;
    text-decoration:none;
}

body{
    display:flex;
    flex-direction: column;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background:#17314b;
}

header i{
    color:white;
}

header p{
    color:white;
}

.logoIcon{
    width:35px;
}

main{
    display: flex;
    flex-direction: column;
    padding:20px;
}

.logo{
    width:200px;
    margin:30px 0;
}

section{
    display:flex;
    flex-direction: column;
}

.logoContainer{
    justify-content: center;
    align-items: center;
}

.versionContainer{
    margin-top:20px;
    font-size:14px;
}

.title{
    margin:20px 0;
}