@font-face {
    font-family: roboto;
    src: url(../font/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: robotoCondensed;
    src: url(../font/RobotoCondensed-Regular.ttf);
}

*{
    margin:0;
    padding:0;
    font-family: roboto;
    color:#17314b;
    list-style-type: none;
    text-decoration:none;
}

body{
    display:flex;
    flex-direction: column;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
    background:#17314b;
    position: fixed;
    width:100vw;
}

header i{
    color:white;
    padding:0 10px;
}

header p{
    color:white;
}

.logoIcon{
    width:35px;
    padding:0 10px;
}

main{
    margin-top:50px;
    display: flex;
    flex-direction: column;
}

.dropDown{
    display:flex;
    flex-direction: column;
}

.dropDownTitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #52525250;
    padding:15px 20px;
}



.info{
    padding:5px 20px;
    font-size:14px;
}

.collapsable-div{
    overflow: hidden;
    height:0px;
    padding:0px;
    /* transition:0.4s; */
}

.expand-div{
    overflow: hidden;
    height:100%;
    padding:5px 20px;
    /* transition:0.4s; */
}

.infoList{
    padding:10px 30px;
}

.infoList li{
    list-style-type: disc;
}